.timer-table
	text-align: center
	font-size: 3rem
	display: flex
	flex-wrap: wrap
	flex: 4
	p
		margin: 1rem 0
	h2
		margin: 1rem 0
		text-decoration: underline
	h4
		margin: 1rem 0
		text-decoration: underline
	.work-time
		width: 100%
	.work-cycles,
	.work-rounds
		width: 50%